%ul{:"data-role" => "listview", :"data-theme" => "d", :"data-inset" => "true", :"data-count-theme" => "e"}
  %li
    %a{:href => "", :"data-ajax"=>"false"} 
      %img{:src =>  :src => me.photo.largePhotoUrl + "?oauth_token=#{client.oauth_token}"}
      %h3 #{me.name}
      %p #{me.username}
%div{:class=>"content-primary"}
  = htmlize_hash("You",me)
  %div{:"data-role" => "collapsible", :"data-content-theme"=>"c"}
    %h3 Objects (#{sobjects.size})
    %p
      %ul{:"data-role" => "listview"}
        - sobjects.each do |sobject_name|
          %li
            %a{:href => "/describe/#{sobject_name}"} #{sobject_name}
